<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/tables.css">
  <link rel="stylesheet" href="/styles/actions.css">
  <link rel="icon" type="image/png" href="/images/logo.png">
  <title>Money Cashboard</title>
</head>
<body>
  <header>
    <div id="heading_logo">
      <img src="/images/logo.png" height="40" width="40">
    </div>
    <div id="heading">
      <h1>Money Cashboard</h1>
    </div>
    <div id="header_total" <%="style='color: red'" if Transaction.total() > Budget.find(1).amount %> >
    £<%= (Transaction.total() /100).to_f %>
    </div>
  </header>
  <nav>
    <p><a href="/transactions">All Transactions</a></p>
    <br>
    <p>Transactions by Tag:</p>
    <br>
    <% @tags.each do |tag| %>
    <p><a href="/transactions/tag/<%= tag.id %>"><%= tag.name %></a></p>
    <br>
    <% end %>
  </nav>
  <main>
    <%= yield %>
  </main>
  <div id="navbottom">
    <p><a href="/transactions/new">New Transaction</a></p>
    <br>
    <p><a href="/tags/new">New Tag</a></p>
    <br>
    <p><a href="/vendors/new">New Vendor</a></p>
    <br>
    <p><a href="/budget/1">Edit Budget Amount</a></p>
  </div>
</body>
</html>
