<div id="panelhead">
<h2><%= "All Transactions" if !@tag%><%= @tag if @tag %></h2>
<br>
<div id="container">
<div id="total">
  <p>Total: £<%= "#{(@transactions_total / 100).to_f}" %></p>
</div>
<div id="warning">
  <%= "Warning: Total for all transactions is over budget amount!" if !@tag && @transactions_total > @budget.amount %>
</div>
</div>
<br>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Tag</th>
      <th>Vendor</th>
      <th>Transaction Details</th>
    </tr>
  </thead>
</table>
</div>
<div id="panelmain">
<table>
  <tbody>
    <% @transactions.each do |transaction| %>
    <tr>
      <td> <%= transaction.format_date %></td>
      <td> £<%= transaction.amount_pence_to_pounds() %></td>
      <td><%= transaction.tag.name %></td>
      <td><%= transaction.vendor.name %></td>
      <td id="button"><a href="/transactions/<%= transaction.id %>">...</a></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
