<div id="panelhead">
<h2><%= "All Transactions" if !@tag%><%= @tag if @tag %></h2>
<br>
<p>Total: £<%= "#{(@transactions_total / 100).to_f}" %></p>
<br>
<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Tag</th>
      <th>Vendor</th>
      <th>Transaction Details</th>
    </tr>
  </thead>
</table>
</div>
<div id="panelmain">
<table>
  <tbody>
    <% @transactions.each do |transaction| %>
    <tr>
      <td> £<%= transaction.amount_pence_to_pounds() %></td>
      <td><%= transaction.tag.name %></td>
      <td><%= transaction.vendor.name %></td>
      <td id="button"><a href="/transactions/<%= transaction.id %>">...</a></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
